body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(travel.jpg);
    background-repeat: no-repeat;

}

header {
    background-color: #75c6fc;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

main {
    text-align: center;
    margin: 100px;
}

table {
    width: 45%; 
    margin: 20px auto; 
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: center; 
    border: 1px solid #ffffff;
    background-color: #f6f6f665;

}

th {
    background-color: #75c6fc;
    color: #fff;
}

tr:hover {
    background-color: #faff5b;
}

nav a {
    text-decoration: none;
    color: #0900af;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color:  #dbf020;
}